<!DOCTYPE html>
<html>
  <head>
    <title>SuperFanRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6b3c680981.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'superfan' %>
    <%= javascript_pack_tag 'superfan', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
